language: go

go:
  - 1.8
  
before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

install:
 - go get -v -t .

script:
 - $HOME/gopath/bin/goveralls -service=travis-ci -v -package .
